[submodule "Common"]
	path = Common
	url = git@github.com:NEWorldProject/Common.git
[submodule "Libs/Math"]
	path = Libs/Math
	url = git@github.com:NEWorldProject/Math.git
[submodule "Libs/Presentation"]
	path = Libs/Presentation
	url = git@github.com:NEWorldProject/Presentation.git
[submodule "Libs/task"]
	path = Libs/task
	url = git@github.com:NEWorldProject/task.git
